* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.inputs_section {
  width: 50%;
  padding: 10% 0px 5% 0;
  margin: 5% auto;
  display: flex;
  text-align: center;
  align-items: center;
  border: 1px solid lightblue;
}

#basic {
  width: 80%;
}
